@use 'styles/mixins';
@use 'styles/colors';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.databox {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 80vh;
  overflow: hidden;
  gap: 15rem;

  @include mixins.laptop {
    gap: 35rem;
  }
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;

  &__bgvideo {
    position: relative;
    width: 100%;
    height: 120vh;
    object-fit: cover;
  }
}

.swipebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  text-align: center;
  animation: fade-in 1s ease-in;
  gap: 2rem;
  animation-delay: 0.2s;
  animation-fill-mode: both;

  @include mixins.laptop {
    left: 35rem;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: colors.$background-tretiary;
    flex-shrink: 0;

    @include mixins.laptop {
      align-items: start;
    }

    h2 {
      font-size: 4rem;
      font-weight: 600;
      text-align: left;
      text-transform: uppercase;
      -webkit-text-stroke: 0.2rem colors.$secondary;

      @include mixins.laptop {
        font-size: 7rem;
        font-weight: 900;
      }
    }
  }

  &__line {
    display: block;
    line-height: 1.2;
  }

  &__link {
    @include mixins.laptop {
      display: flex;
      margin-left: 1.5rem;
    }
  }

  &__buttons {
    margin-top: 1rem;
    text-align: left;
  }

  &__button {
    display: inline-block;
    position: relative;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-transform: uppercase;
    background: transparent;
    border: 0.2rem solid colors.$primary;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: all 1s ease-out;

    @include mixins.laptop {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 6rem;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: colors.$secondary;
      transition: all 1s ease-out;
      content: attr(data-hover);
      transform: translate(-100%, 0);
    }

    &:hover::before {
      transform: translate(0, 0);
    }

    &:hover {
      background: colors.$secondary;
      border-color: colors.$secondary;
    }
  }
}

.meals {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: colors.$background;
  gap: 1rem;

  @include mixins.laptop {
    flex-direction: row;
    position: relative;
    width: 80%;
    border-radius: 0 1.6rem 1.6rem 0;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;

    @include mixins.laptop {
      align-items: flex-start;
      padding-top: 5rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    animation: fade-in 1s ease-in;
    padding-bottom: 1rem;

    @include mixins.laptop {
      font-size: 3rem;
      font-weight: 900;
      text-align: left;
      padding-bottom: 1.5rem;
    }
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 600;
    animation: fade-in 1s ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: both;
    margin-bottom: 1.5rem;

    @include mixins.laptop {
      max-width: 90%;
    }
  }

  &__list {
    display: grid;
    align-items: center;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    @include mixins.laptop {
      min-width: 35rem;
    }
  }
}

.carrot {
  @include mixins.laptop {
    position: fixed;
    top: 20vh;
    right: 2rem;
    z-index: 1;
    width: 40rem;
    height: 40rem;
    background: url('/images/carrots.png') no-repeat center/contain;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;

    &__show {
      opacity: 1;
      transition: opacity 1s ease;
    }
  }
}
