@use '../../../../../styles/colors';
@use '../../../../../styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem;
  color: colors.$secondary;
  background-color: colors.$background-secondary;
  inset: 0;

  &__content {
    position: relative;
    width: 35rem;
    padding: 1.5rem;
    background-color: colors.$primary;
    border-radius: 1rem;
    box-shadow: 0 1.2rem 3.2rem colors.$background-secondary;
    animation: fade-in 0.3s ease-out;

    @include mixins.tablet {
      width: 45rem;
      padding: 2rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.8rem;
    color: colors.$secondary;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: colors.$error;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

    @include mixins.tablet {
      font-size: 2.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.2rem;
    color: colors.$secondary;
  }

  &__description {
    min-height: 5rem;
    resize: vertical;
  }

  &__text,
  &__description {
    padding: 0.5rem;
    border: 0.1rem solid colors.$hover;
    border-radius: 0.5rem;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: colors.$loading;
      outline: none;
    }
  }

  &__success,
  &__error {
    padding: 2.5rem;
    font-size: 1.8rem;
    text-align: center;
  }

  &__success {
    color: colors.$success;
  }

  &__error {
    color: colors.$error;
    animation: pulse 1s infinite ease-in-out;
  }

  &__rating {
    display: flex;
    font-size: 1.75rem;
    cursor: pointer;
  }

  &__star {
    font-size: 2rem;
    color: colors.$error-secondary;
    transition: color 0.2s ease;

    &:hover {
      color: colors.$star-default;
    }
  }

  &__selected {
    color: colors.$star-selected;
  }

  &__button {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: colors.$primary;
    background: colors.$button-default;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition:
      background 0.3s ease,
      transform 0.1s ease;

    @include mixins.tablet {
      max-width: 50%;
    }

    &:hover {
      background: colors.$button-focus;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background-color: colors.$button-disabled;
      cursor: not-allowed;
    }
  }
}

.reviews {
  &__title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;

    @include mixins.tablet {
      font-size: 4rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  &__feedback {
    height: 33rem;
    padding: 1rem;
    box-shadow: 0 0.4rem 1.2rem colors.$background-tretiary;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  background-color: colors.$background-secondary;
  border: 0.1rem solid colors.$primary;
  border-radius: 0.75rem;
  box-shadow: 0 0.5rem 0.6rem colors.$background-tretiary;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__description {
    font-size: 1.1rem;
  }

  &__date {
    font-size: 1rem;
  }

  &__button {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: colors.$primary;
    background-color: colors.$green;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition:
      background 0.3s ease,
      transform 0.1s ease;

    @include mixins.tablet {
      max-width: 50%;
    }

    &:hover {
      background-color: colors.$green-secondary;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background-color: colors.$button-disabled;
      cursor: not-allowed;
    }
  }
}
