.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem;
  color: #333;
  background-color: rgb(0 0 0 / 60%);
  inset: 0;

  &__content {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 12px 32px rgb(0 0 0 / 40%);
    animation: fade-in 0.3s ease-out;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #000;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: #333;
  }

  &__description {
    min-height: 50px;
    resize: vertical;
  }

  &__text,
  &__description {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: #07c;
      outline: none;
    }
  }

  &__status {
    padding: 5rem;
    font-size: 0.85rem;
    text-align: center;
    color: #01610d;
    padding-top: 5.25rem;
  }

  &__rating {
    display: flex;
    font-size: 1.75rem;
    cursor: pointer;
  }

  &__star {
    color: lightgray;
    transition: color 0.2s ease;

    &:hover {
      color: orange;
    }
  }

  &__selected {
    color: gold;
  }

  &__button {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right, #07c, #005fa3);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition:
      background 0.3s ease,
      transform 0.1s ease;

    &:hover {
      background: linear-gradient(to right, #005fa3, #07c);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reviews {
  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-bottom: 0.5rem;
    -webkit-text-stroke: 0.5px #000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }

  &__feedback {
    max-height: 250px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.review {
  width: 100%;
  padding: 1rem;
  background-color: rgb(0 0 0 / 40%);
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-shadow: 0 5px 6px rgb(3 2 2 / 8%);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.95rem;
    color: #fff;
    padding-bottom: 0.5rem;
  }

  &__date {
    font-size: 0.8rem;
    color: #fff;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1c7c31;
    }
  }
}

@media (width >= 768px) {
  .modal {
    &__content {
      max-width: 500px;
      padding: 2rem;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__rating {
      font-size: 2rem;
    }
  }

  .reviews {
    &__feedback {
      max-height: 300px;
    }
  }

  .review {
    max-width: 350px;

    &__title {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 1rem;
    }

    &__date {
      font-size: 0.85rem;
    }
  }
}
