@use 'styles/colors';
@use 'styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 1rem;
  color: colors.$secondary;
  background-color: colors.$background-secondary;
  inset: 0;

  &__content {
    position: relative;
    width: 35rem;
    padding: 1.5rem;
    background-color: colors.$primary;
    border-radius: 1rem;
    box-shadow: 0 1.2rem 3.2rem colors.$background-secondary;
    animation: fade-in 0.3s ease-out;

    @include mixins.tablet {
      width: 45rem;
      padding: 2rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: colors.$secondary;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: colors.$error;
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;

    @include mixins.tablet {
      font-size: 2.5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__label {
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.2rem;
    color: colors.$secondary;
  }

  &__description {
    min-height: 50px;
    resize: vertical;
  }

  &__text,
  &__description {
    padding: 0.5rem;
    border: 0.1rem solid colors.$hover;
    border-radius: 0.5rem;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: colors.$loading;
      outline: none;
    }
  }

  &__success,
  &__error {
    padding: 2.5rem;
    font-size: 0.85rem;
    text-align: center;
  }

  &__success {
    color: colors.$success;
  }

  &__error {
    color: colors.$error;
    animation: pulse 1s infinite ease-in-out;
  }

  &__rating {
    display: flex;
    font-size: 1.75rem;
    cursor: pointer;
  }

  &__star {
    color: colors.$error-secondary;
    transition: color 0.2s ease;

    &:hover {
      color: colors.$star-default;
    }
  }

  &__selected {
    color: colors.$star-selected;
  }

  &__button {
    padding: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: colors.$primary;
    background: colors.$button-default;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition:
      background 0.3s ease,
      transform 0.1s ease;

    &:hover {
      background: colors.$button-focus;
    }

    &:active {
      transform: scale(0.98);
    }

    &:disabled {
      background-color: colors.$button-disabled;
      cursor: not-allowed;
    }
  }
}

.reviews {
  &__heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-bottom: 0.5rem;
    -webkit-text-stroke: 0.5px #000;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }

  &__feedback {
    max-height: 250px;
    padding: 1rem;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.review {
  width: 100%;
  padding: 1rem;
  background-color: rgb(0 0 0 / 40%);
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  box-shadow: 0 5px 6px rgb(3 2 2 / 8%);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding-bottom: 0.5rem;
  }

  &__description {
    font-size: 0.95rem;
    color: #fff;
    padding-bottom: 0.5rem;
  }

  &__date {
    font-size: 0.8rem;
    color: #fff;
  }

  &__button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1c7c31;
    }
  }
}

@media (width >= 768px) {
  .modal {
    &__content {
      max-width: 500px;
      padding: 2rem;
    }

    &__title {
      font-size: 1.75rem;
    }

    &__rating {
      font-size: 2rem;
    }
  }

  .reviews {
    &__feedback {
      max-height: 300px;
    }
  }

  .review {
    max-width: 350px;

    &__title {
      font-size: 1.2rem;
    }

    &__description {
      font-size: 1rem;
    }

    &__date {
      font-size: 0.85rem;
    }
  }
}
