@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.meal {
  border: 1px solid #000;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 8px #000;
  min-width: 50%;
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.meal:hover {
  scale: 1.01;
}

.meal__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

.meal__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}

.meal__price {
  text-align: end;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
}

.meal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-position: center;
  border-radius: 8px;
  padding: 5px;
}

.meal__description {
  text-align: justify;
  font-size: 18px;
  padding: 10px;
  min-width: 50%;
  color: #fff;
}

.meal__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.meal__card {
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.meal__card:nth-child(1) {
  animation-delay: 0s;
}

.meal__card:nth-child(4) {
  animation-delay: 0.2s;
}

.meal__card:nth-child(8) {
  animation-delay: 0.4s;
}

.meal__buttons {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.meal__button {
  min-width: 100%;
  line-height: 35px;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  padding: 0 15px 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  text-align: center;
  -webkit-text-stroke: 0.5px #000;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}

.meal__button::before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #fff;
  transition: all 0.5s ease-out;
  transform: translate(-100%, 0);
}

.meal__button:hover::before {
  transform: translate(0, 0);
}

.meal__button:hover {
  color: #fff;
  background: #252525;
  border-color: #252525;
}

.meal__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.meal__reservation {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}

.meal__reservationTwo {
  padding: 10px;
  font-size: 20px;
  color: #e3f09b;
}

.meal__reservationThree {
  padding: 10px;
  font-size: 20px;
  color: #f75454;
}

.meal__star {
  color: lightgray;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.meal__selected {
  color: gold;
}

.meal__locationbox {
  display: flex;
  align-items: center;
}

.meal__location {
  color: #fff;
  font-size: 20px;
}

.meal__pin {
  width: 25px;
}

@media (min-width: 768px) {
  .meal__content {
    flex-direction: column;
    justify-content: flex-start;
    height: 92%;
  }
  .meal__header {
    height: 8%;
  }
  .meal__buttons {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 3%;
  }
  .meal__card {
    max-width: 375px;
    padding: 0.5rem;
    height: auto;
  }
  .meal__header {
    justify-content: space-between;
    padding: 5px;
  }
}
