@use 'styles/colors';
@use 'styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.meal {
  width: 100%;
  height: 10rem;
  min-width: 50%;
  border: 1px solid colors.$secondary;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem colors.$secondary;
  cursor: pointer;
  background-size: cover;
  background-position: center;

  &:hover {
    scale: 1.01;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;

    @include mixins.tablet {
      justify-content: space-between;
      padding-inline: 0.8rem;
      padding-top: 0.8rem;
    }
  }

  &__title,
  &__price,
  &__star,
  &__location,
  &__reservation,
  &__reservationTwo,
  &__reservationThree {
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 0.8rem;
    padding-bottom: 1.5rem;
    border-radius: 0.8rem;

    @include mixins.tablet {
      flex-direction: column;
      justify-content: flex-start;
      height: 92%;
    }
  }

  &__description {
    padding: 1rem;
    font-size: 1.6rem;

    @include mixins.tablet {
      padding: 0;
      padding-top: 1rem;
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__card {
    position: relative;
    background-color: colors.$background-secondary;
    border-radius: 0.8rem;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;

    @include mixins.tablet {
      max-width: 37.5rem;
      padding: 0.5rem;
      transition:
        height 0.3s ease,
        opacity 0.3s ease;
    }
  }

  &__ribbon {
    display: none;

    @include mixins.tablet {
      display: inline;
      position: absolute;
      top: 6rem;
      left: 23rem;
      z-index: 1;
      width: 30rem;
      height: 20rem;
      background-image: url('/images/ribbon.png');
      background-size: cover;
      pointer-events: none;
      transform: rotate(45deg);
      transform-origin: top right;
    }
  }

  &__isReserved {
    padding: 1rem;
    font-size: 2rem;
    color: colors.$loading;

    @include mixins.tablet {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;

    @include mixins.tablet {
      display: flex;
      flex-direction: row;
      gap: 3%;
      text-align: left;
    }
  }

  &__button {
    min-width: 100%;
    padding-inline: 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-align: center;
    color: colors.$primary;
    background-color: colors.$background-secondary;
    border: 0.2rem solid colors.$primary;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: colors.$primary;
      background: transparent;
      transition: all 0.5s ease-out;
      content: attr(data-hover);
      pointer-events: none;
      transform: translate(-100%, 0);
    }

    &:hover::before {
      transform: translate(0, 0);
    }

    &:hover {
      color: colors.$secondary;
      background: colors.$primary;
      border-color: colors.$secondary;
    }
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
  }

  &__reservation,
  &__reservationTwo,
  &__reservationThree {
    padding: 1rem;

    &Two {
      color: colors.$loading;
    }

    &Three {
      color: colors.$error;
    }
  }

  &__selected {
    color: colors.$loading;
  }

  &__locationbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pin {
    width: 2.5rem;
  }
}
