.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  background: linear-gradient(to right, #002147, #66b2ff, #002147);
  color: #ffffff;

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 1.2rem;
    color: #f0f0f0;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;

    &:hover {
      color: #4fc3f7;
    }
  }

  &__map {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  @media (min-width: 1182px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem 15rem;

    &__socials {
      align-items: flex-start;
    }

    &__links {
      flex-direction: row;
      justify-content: flex-start;
    }

    &__map {
      margin-top: 0;
    }
  }
}
