.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background: transparent;
  color: #ffffff;

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 1.2rem;
    color: #f0f0f0;
  }

  &__links {
    align-items: flex-start;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 1rem;
    gap: 1rem;
    list-style: none;
    justify-content: center;
  }

  &__image {
    width: 30px;
    padding-right: 8px;
    vertical-align: middle;
  }

  &__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;

    &:hover {
      color: #4fc3f7;
    }
  }

  &__map {
    padding-top: 1rem;
    width: 250px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  @media (min-width: 840px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem 5rem;

    &__socials {
      align-items: flex-start;
    }

    &__links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &__map {
      width: 150px;
      margin-top: 0;
    }
  }
}
