.header {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  gap: 1rem;
  background: linear-gradient(to right, #002147, #66b2ff, #002147);
  padding: 1rem 3rem;
  color: #ffffff;
  text-align: center;
}

.header__logo {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.header__logoImage {
  width: 50px;
  height: auto;
}

.header__title {
  display: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.header__navigation {
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  -webkit-overflow-scrolling: touch;
}

.header__navigation.open {
  display: -webkit-flex;
  display: flex;
}

.header__list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-bottom: 2rem;
}

.header__link {
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
}

.header__burger {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 2001;
  min-width: 25px;
}

.header__burger span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.header__burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.header__burger.open span:nth-child(2) {
  opacity: 0;
}

.header__burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (min-width: 1085px) {
  .header {
    padding: 1rem 15rem;
  }
  .header__navigation {
    display: -webkit-flex;
    display: flex;
    width: auto;
    margin-top: 0;
  }
  .header__list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    gap: 1.5rem;
    width: auto;
    padding-bottom: 0;
    margin-top: 0;
  }
  .header__link {
    font-size: 1.5rem;
    font-weight: 600;
    list-style: none;
  }
  .header__title {
    display: block;
  }
  .header__burger {
    display: none;
  }
}
