@use 'styles/colors';
@use 'styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 1rem 2rem;
  background-color: colors.$background;

  @include mixins.laptop {
    padding: 1rem;
    background: none;
    transition:
      background-color 0.5s ease,
      box-shadow 0.5s ease;

    &__scrolled {
      background-color: colors.$background-secondary;
      box-shadow: 0 0.2rem 0.6rem colors.$black;
    }

    &__logo {
      padding-left: 10rem;
    }
  }

  &__logoImage {
    width: clamp(3.5rem, 4vw, 5rem);
    height: auto;
    animation: fade-in 1s ease-in;
    transform: rotate(45deg);

    @include mixins.laptop {
      width: 5rem;
      height: auto;
    }
  }

  &__navigation {
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    background-color: colors.$background;

    &.open {
      display: flex;
      position: absolute;
      top: 5.5rem;
    }

    @include mixins.laptop {
      display: flex;
      align-items: flex-end;
      background: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    gap: 2rem;
    right: 5rem;
    padding-bottom: 2rem;

    @include mixins.laptop {
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      right: 0;
      right: 15rem;
      width: 30rem;
      gap: 1.5rem;
      padding-bottom: 0;
    }
  }

  &__link a,
  &__button {
    width: 11rem;
    font-size: clamp(3rem, 2vh, 7rem);
    font-weight: 600;
    text-transform: uppercase;
    color: colors.$primary;
    background: none;
    border: none;
    animation: fade-in 0.3s ease-in;

    &:hover {
      color: colors.$hover;
    }
  }

  &__link {
    @include mixins.laptop {
      &.header__current {
        border-bottom: 0.3rem solid colors.$primary;
        padding-bottom: 3px;
      }

      &:hover {
        border-bottom: 3px solid colors.$primary;
        transform: scale(1.01);
      }
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 2.3rem;
    height: 2rem;
    min-width: 2.3rem;
    background: none;
    border: none;
    cursor: pointer;

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }

    @include mixins.laptop {
      display: none;
    }
  }

  &__line {
    width: 2.5rem;
    height: 0.3rem;
    background: colors.$white;
    border-radius: 2px;
    opacity: 1;
    transition: all 0.3s ease;
    transform-origin: center;
  }

  &__profile {
    display: flex;
    position: relative;
    gap: 20px;
  }

  &__image {
    width: 3rem;
    height: 3rem;
    border-radius: 30%;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    top: 4rem;
    left: -6.5rem;
    min-width: 12rem;
    background-color: colors.$primary;
    border: 1px solid colors.$primary;
    border-radius: 0.6rem;
    box-shadow: 0 0.2rem 0.8rem colors.$background-tretiary;
  }

  &__login {
    color: colors.$secondary;
  }

  &__signout {
    width: 15rem;
    padding: 1rem 1.6rem;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
  }

  &__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: colors.$background-secondary;

    &Content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 2rem;
      text-align: center;
      background-color: colors.$primary;
      border-radius: 1.2rem;

      & button {
        padding: 0.5rem 1rem;
        background-color: colors.$error-secondary;
        border: none;
        border-radius: 10px;
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
