.header {
    background: linear-gradient(to right, #002147, #66b2ff, #002147);
    padding: 1.5rem 2rem;
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.header__logoImage {
    width: 50px;
    height: auto;
}

.header__title {
    font-size: 1.5rem;
    font-weight: 600;
}