@use 'styles/mixins';
@use 'styles/colors';

html,
body {
  height: 100vh;
  max-width: 100vw;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/images/anthracite.jpg');
  color: colors.$primary;

  @include mixins.tablet {
    gap: 10rem;
  }

  @include mixins.laptop {
    gap: 15rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: colors.$hover;
  }
}

p {
  font-size: 1.6rem;
  line-height: 100%;
  letter-spacing: 1px;
}

h1 {
  font-size: clamp(5rem, 10vw, 10rem);
}

h2 {
  font-size: clamp(2rem, 3vh, 5rem);
}

h3,
h4 {
  font-size: clamp(1.5rem, 2vh, 2rem);
}

li {
  list-style: none;
}

// .databox {
//   flex: 1;
//   padding: 2rem 1rem;

//   @media (width >= 1085px) {
//     padding-inline: 5rem;
//   }
// }

// .contentcard {
//   flex: 1;
//   background: transparent;
//   border-radius: 16px;
//   box-shadow: 0 4px 10px #000;

//   @media (width >= 1085px) {
//     padding: 3rem;
//   }
// }
