@use '../styles/mixins';
@use '../styles/colors';

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98.65%;
  max-width: 100vw;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/images/anthracite.jpg');
  color: colors.$primary;

  @include mixins.tablet {
    gap: 5rem;
  }

  @include mixins.laptop {
    gap: 10rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: colors.$hover;
  }
}

p {
  font-size: 1.8rem;
  line-height: 100%;
  letter-spacing: 0.1rem;
  text-align: justify;
  hyphens: auto;
}

h1 {
  font-size: clamp(5rem, 10vw, 10rem);
}

h2 {
  font-size: clamp(2rem, 3vh, 5rem);
}

h3,
h4 {
  font-size: clamp(1.5rem, 2vh, 2rem);
}

li {
  list-style: none;
}
