:root {
  --background: #fff;
  --foreground: #171717;

  @media (prefers-color-scheme: dark) {
    --background: #e3f2f3;
    --foreground: #d1d1fc;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/images/anthracite.jpg");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.databox {
  flex: 1;
  padding: 2rem 1rem;

  @media (width >= 1085px) {
    padding: 5rem;
  }
}

.contentcard {
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 4px 10px #000;

  @media (width >= 1085px) {
    padding: 3rem;
  }
}
