@media (width >= 1088px) {
  .tortilla {
    position: fixed;
    top: 10vh;
    right: -3rem;
    z-index: 1000;
    width: 300px;
    height: 300px;
    background: url("/images/tortilla.png") no-repeat center/contain;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;

    &__show {
      opacity: 1;
    }
  }

  .beans {
    position: fixed;
    top: 50vh;
    left: 0;
    z-index: 1000;
    width: 300px;
    height: 300px;
    background: url("/images/beans.png") no-repeat center/contain;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;

    &__show {
      opacity: 1;
    }
  }
}
