@use '../../styles/index' as *;

.tortilla {
  position: fixed;
  top: 12vh;
  right: -2rem;
  z-index: -1;
  width: 24rem;
  height: 24rem;
  background: url('/images/tortilla.png') no-repeat center/contain;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;

  @include laptop {
    &__show {
      opacity: 0.28;
    }
  }
}

.beans {
  position: fixed;
  top: 58vh;
  left: -1rem;
  z-index: -1;
  width: 22rem;
  height: 22rem;
  background: url('/images/beans.png') no-repeat center/contain;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;

  @include laptop {
    &__show {
      opacity: 0.22;
    }
  }
}
