.meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 8px #000;
  width: 300px;

  cursor: pointer;

  &:hover {
    scale: 1.01;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    color: #000;
  }

  &__description {
    color: #fff;
  }

  &__location,
  &__maxReservations,
  &__price {
    color: #fff;
    font-size: 1rem;
  }
}
