@use '../../../../../styles/colors';
@use '../../../../../styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contentcard {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  min-height: 40vh;
  padding: 1rem;
  background-color: colors.$background-secondary;
  border-radius: 1.6rem;
  gap: 1.5rem;

  @include mixins.tablet {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2rem;
    gap: 2rem;
  }
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0.5rem;

    @include mixins.tablet {
      font-size: 4rem;
    }
  }

  &__box {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__res {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
  }
}

.reviews__box {
  flex: 1;
  animation: fade-in 1s ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
