@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contentcard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 16px;
  animation: fade-in 1s ease-in;
  animation-delay: 0.1s;
  animation-fill-mode: both;
  gap: 1.5rem;
  margin-top: 10rem;
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding-bottom: 0.5rem;
    -webkit-text-stroke: 0.5px #000;
  }

  &__box {
    width: 100%;
    padding: 1.5rem;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;
  }

  &__text {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #fff;
  }

  &__res {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
  }
}

.reviews__box {
  z-index: -1;
  animation: fade-in 1s ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  padding-bottom: 1rem;
}

@media (width >= 768px) {
  .contentcard {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2rem;
    gap: 2rem;
  }

  .meal {
    &__title {
      font-size: 2rem;
    }

    &__box {
      width: 50%;
    }

    &__res {
      max-width: 50%;
    }
  }

  .reviews__box {
    min-width: 50%;
  }
}
