@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contentcard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
  border-radius: 16px;
  gap: 1.5rem;
  animation: fadeIn 1s ease-in;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.meal {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.meal__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
  padding-bottom: 0.5rem;
}

.meal__box {
  width: 100%;
  padding: 1.5rem;
  animation: fadeIn 1s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.meal__text {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  text-align: justify;
}

.meal__res {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem;
}

.reviews__box {
  padding-bottom: 1rem;
  animation: fadeIn 1s ease-in;
  animation-delay: 0.4s;
  animation-fill-mode: both;
  z-index: -1;
}

@media (min-width: 768px) {
  .contentcard {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 2rem;
    gap: 2rem;
  }
  .meal {
    max-width: 60%;
  }
  .meal__title {
    font-size: 2rem;
  }
  .meal__box {
    max-width: 60%;
  }
  .meal__res {
    max-width: 60%;
  }
}
