@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.meals {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  &__item {
    width: 25%;
    height: 200px;
    text-align: center;
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    padding-top: 95px;

    &:hover {
      box-shadow: 0 6px 12px #000;
      transform: translateY(-3px);
    }
  }

  &__loading {
    padding: 40px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #666;
    animation: pulse 1.5s infinite;
  }

  &__error {
    padding: 40px 0;
    font-size: 1.4rem;
    text-align: center;
    color: #666;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    padding-bottom: 5px;
  }

  &__select {
    cursor: pointer;
  }

  &__input,
  &__select {
    width: 50%;
    height: 30px;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.2s ease;
    outline: none;

    &:focus {
      border-color: #333;
    }
  }
}

@media (width >= 798px) {
  .meals {
    padding: 7rem 0;

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__filter {
      justify-content: center;
    }

    &__input,
    &__select {
      width: 250px;
    }
  }
}

@media (width >= 1600px) {
  .meals {
    &__box {
      width: 85%;
    }
  }
}
