@use '../../../../styles/colors';
@use '../../../../styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.meals {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49rem;
  padding-top: 3rem;

  &__filter {
    display: flex;
    justify-content: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    gap: 1.6rem;
    justify-content: center;
    max-width: 130rem;
  }

  &__item {
    width: 70%;
    height: 40rem;
    background-color: colors.$background-secondary;
    border: 0.1rem solid colors.$primary;
    border-radius: 0.8rem;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    padding-top: 9.5rem;

    &:hover {
      box-shadow: 0 0.6rem 1.2rem colors.$secondary;
      transform: translateY(-3px);
    }
  }

  &__description {
    font-size: 2rem;
    text-align: center;
  }

  &__select {
    cursor: pointer;
  }

  &__input,
  &__select {
    width: 50%;
    height: 3rem;
    padding: 0 1rem;
    font-size: 1.8rem;
    border: 0.1rem solid colors.$error-secondary;
    border-radius: 0.8rem;
    transition: border-color 0.2s ease;
    outline: none;

    @include mixins.tablet {
      width: 25rem;
    }

    &:focus {
      border-color: colors.$secondary;
    }
  }
}
