@use 'styles/colors';
@use 'styles/mixins';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.orders {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.tablet {
    justify-self: center;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    padding-block: 3rem;
  }

  &__list {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(1, 1fr);

    @include mixins.tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.laptop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    width: 25%;
    height: 200px;
    text-align: center;
    color: #fff;
    background-color: rgb(0 0 0 / 50%);
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    transition:
      transform 0.2s ease,
      box-shadow 0.2s ease;
    padding-top: 95px;

    &:hover {
      box-shadow: 0 6px 12px #000;
      transform: translateY(-3px);
    }
  }

  &__text {
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
    color: #fff;
    animation: fade-in 1s ease-in;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    padding-top: 1rem;
    -webkit-text-stroke: 0.1px #000;

    @include mixins.laptop {
      font-size: 1.8rem;
      font-weight: 900;
      color: #fff;
      -webkit-text-stroke: 0.1px #000;
    }
  }

  &__button {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: colors.$primary;
    background: transparent;
    border: 0.2rem solid colors.$primary;
    border-radius: 0.6rem;
    overflow: hidden;
    transition: all 1s ease-out;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: colors.$secondary;
      transition: all 0.5s ease-out;
      content: attr(data-hover);
      transform: translate(-100%, 0);
    }

    &:hover::before {
      transform: translate(0, 0);
    }

    &:hover {
      background: colors.$secondary;
      border-color: colors.$secondary;
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  padding: 1rem;
  color: colors.$secondary;
  background-color: colors.$background-secondary;
  inset: 0;

  &__content {
    width: 100%;
    max-width: 50rem;
    padding: 1.5rem;
    background-color: colors.$primary;
    border-radius: 1.2rem;
    box-shadow: 0 1.2rem 3.2rem colors.$background-secondary;
    animation: fade-in 0.3s ease-out;
  }

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  &__button {
    width: 35%;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: colors.$primary;
    background-color: colors.$background;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: colors.$background-secondary;
    }

    &:first-child {
      background-color: colors.$error;

      &:hover {
        background-color: colors.$error-tretiary;
      }
    }
  }

  &__status {
    padding: 2rem;
    font-size: 1.8rem;
    text-align: center;

    &.success {
      color: colors.$success;
    }

    &.error {
      color: colors.$error;
      animation: pulse 1s infinite ease-in-out;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
