@use '../../../styles/index' as *;

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.loading {
  display: grid;
  place-items: center;
  min-height: 32rem;

  &__letter {
    font-size: clamp(3rem, 5vh, 5rem);
    color: $loading;
    animation: pulse 1s infinite ease-in-out;
  }
}
