@use 'styles/colors';
@use 'styles/mixins';

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 53rem;

  @include mixins.laptop {
    height: 20rem;
  }

  &__letter {
    font-size: clamp(3rem, 5vh, 5rem);
    color: colors.$loading;
    border: 0.5px colors.$secondary;
    animation: pulse 1s infinite ease-in-out;
  }
}
