@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem;
  background: transparent;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__heading {
  font-size: 1.2rem;
  color: #f0f0f0;
}

.footer__links {
  align-items: flex-start;
  text-align: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 1rem;
  gap: 1rem;
  list-style: none;
  justify-content: center;
}

.footer__image {
  width: 30px;
  padding-right: 8px;
  vertical-align: middle;
}

.footer__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  transition: color 0.3s ease;
  animation: fadeIn 1s ease-in;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.footer__link:nth-child(1) {
  animation-delay: 0.1s;
}

.footer__link:nth-child(2) {
  animation-delay: 0.2s;
}

.footer__link:nth-child(3) {
  animation-delay: 0.25s;
}

.footer__link:nth-child(4) {
  animation-delay: 0.3s;
}

.footer__link:nth-child(5) {
  animation-delay: 0.35s;
}

.footer__link:hover {
  color: #4fc3f7;
}

.footer__map {
  display: none;
}

@media (min-width: 840px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1rem 5rem;
  }
  .footer__socials {
    align-items: flex-start;
  }
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer__map {
    display: block;
    width: 100px;
    margin-top: 0;
  }
  .footer__map:hover {
    transform: scale(1.05);
  }
}
