@use '../../../styles/mixins';
@use '../../../styles/colors';

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -2.7rem;
  width: 100%;
  padding: 1rem;
  color: colors.$white;
  background-color: colors.$background;
  animation: fade-in 1s ease-in;

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10rem;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    @include mixins.tablet {
      text-align: start;
    }
  }

  &__links {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);

    @include mixins.tablet {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &__image {
    vertical-align: middle;
    width: 3rem;
    margin-right: 0.8rem;
  }

  &__map {
    display: none;

    @include mixins.laptop {
      display: block;
      margin-top: 0;
      width: 10rem;

      &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in;
      }
    }
  }
}
