@use '../../../styles/mixins';
@use '../../../styles/colors';

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__text {
    height: 5rem;
    padding: 1rem;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    text-align: center;
    color: colors.$error;
    background-color: colors.$error-secondary;
    border-radius: 1rem;
    animation: pulse 1s infinite ease-in-out;
  }
}
